


.top-nav {
	/*background-color: DimGray;*/
	height: 80px;
}

.top-header{
	height: 200px;
	width: 100%;
}


.top-content {
	margin-top: 10px;
	background-color: #EBEBEB;
	height: 300px;
	width: 100%;
/*	display: flex;
	flex-direction: column;*/
}

.img-content{
	padding-top: 50px;
	width: 35%;
	height: 160px;
	/*background-color: red;*/
	vertical-align: middle;
	text-align: center;

}

.mg-code{
	/*margin-top: 20px;
	width: 50px;
	height: 50px;
	vertical-align: middle;*/

}

.img-title{
	text-align: center;
	font-weight: bolder;
}



.other-content{
	/*background-color: currentColor;*/
	width: 65%;
	height: 200px;
	padding-top: 20px;
}

.top-bottom-title{
	padding-top: 30px;
	width: 100%;
	height: 30px;
	text-align: center;
}

.bottom-content{
	background-color: #EBEBEB;
	width: 100%;
	height: 300px;
	padding-top: 10px;
	margin-top: 20px;
}

.bottom-left{
	/*background-color: orange;*/
	width: 30%;
}

.bottom-right{
/*	margin-left: 5px;
*/	padding-left: 5px;
	background-color: #EBEBEB;
	width: 35%;
}

.bottom-other{
	padding-left: 5px;
	/*background-color: yellow;*/
	width: 30%;
}

.text-one{

	margin-top: 20px;
	margin-left: 20px;
	font-size: 150%;
	font-weight: 500;
}


.text-two{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 90%; 
	font-weight: 500; 
	color: #81B0D3; 
	text-decoration: none; 
	/*padding-left: 20px; */
	/*background-color: orange;*/
}

.text-three{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 90%; 
	font-weight: 500; 
	/*color: #81B0D3; */
	/*text-decoration: none; */
	/*padding-left: 20px; */
	/*background-color: orange;*/
}





