ul ,li{
          list-style: none;
      }

.menu-bar{
   float: right;
   margin-right: 200px;

}

.menu{
  display: flex;

}

.menu li{
  background-color: #27b1b4;
  width:  100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 5px;
}

.menu li  a{
   display: block;
   text-decoration: none;
   color: #ffffff;

}

.menu li  a:hover{
    background-color: #94d668;
}